.card_wrap{
    box-sizing: border-box;
    margin: 1%;
    padding: 2%;
    padding-bottom: 90px;
    width: 250px;
    height: 430px;
    border: 1px solid #DFEDFF;
    box-shadow: 10px 40px 50px rgb(229 233 246 / 50%);
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.card_wrap:hover{
    box-shadow: 10px 40px 50px rgb(39 125 186 / 50%);
}
.card__title{
    font-weight: 900;
    font-size: 1.6em;
    line-height: 1;
    color: #797169;
}

.card__discription{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #277DBA;
    text-align: left;
}
.img__container{
    width: 100%;
}
.img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.card__button{
    display: block;
    text-align: center;
    width: 80%;
    height: 55px;
    background: #4AB2FD;
    border: 1px solid #4AB2FD;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;
    margin: 10px auto;
}
.card__button:hover{
    color: #4AB2FD;
    background-color: white;
}